@import url('https://fonts.googleapis.com/css2?family=Actor&family=Alexandria:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.playfair-display {
  font-family: "Playfair Display", serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
}

.playfair {
  font-family: "Playfair", serif
}

.newsreader {
  font-family: "Newsreader", serif;
}

.actor-regular {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
    --animate-shimmer: shimmer 1.5s infinite linear;

    @keyframes shimmer {
        0%   { background-position: 200% 0; }
        100% { background-position: -200% 0; }
    }
}